@use 'vars';

header {
    width: 100%;
    height: vars.$header-height;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid vars.$border-color;
}

img {
    max-width: 200px;
}