// Color variables
$white: #fff;
$text-color: #696d7d;
$heading-color: #4a4d59;
$subheading-color: #68b0ab;
$border-color: #d3d4da;
$dark-background: #4a4d59;
$error-color: #e53e3e;

// fonts
$body-font-family: 'Lato', sans-serif;
$heading-font-family: 'Marcellus', serif;
$error-message-font-size: 0.9rem;

// Box model
$section-padding: 5rem;
$contained-section-with: 1200px;
$box-section-with: 600px;
$centered-title-section-max-width: 500px;
$box-shadow: 0px 5px 15px -7px rgba(0, 0, 0, 0.1);

// buttons
$button-bg: #68b0ab;
$button-active-bg: #8fc0a9;
$button-active-box-shadow: 0px 15px 25px -7px rgba(0, 0, 0, 0.1);

// layout
$header-height: 120px;
$footer-height: 120px;
$viewport-height: calc(100vh - ($header-height + $footer-height + 2px));