@use 'vars';

:host {
    width: 100%;
    height: vars.$footer-height;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid vars.$border-color;
    background: vars.$dark-background;
}

img {
    max-width: 200px;
}